  <!-- NAVBAR -->
  <!--  
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" data-aos="fade-down">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" data-aos="fade-down">
  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm" data-aos="fade-down">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCoway" aria-controls="navbarCoway"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  -->
  <nav class="navbar navbar-expand-lg fixed-top bg-white shadow-sm" id="mainNavbar">
    <div class="container">
      <a class="navbar-brand coway-brand" href="#hero">Coway</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCoway">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCoway">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link" href="#hero">Beranda</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#products">Produk</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#testimoni">Testimoni</a></li>
          <li class="nav-item">
            <a class="nav-link" href="heartservice.html">Service</a></li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#fyinfo">Info</a></li>
        </ul>
      </div>
    </div>
  </nav>
