<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm" id="mainNavbar">
  <div class="container">
    
    <a class="navbar-brand coway-brand fw-bold" href="index.html">
      Coway
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarCoway" aria-controls="navbarCoway"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCoway">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link" href="index.html#hero">Beranda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="produk-coway.html">Produk</a>
        </li>

        <!-- DROPDOWN PRODUK -->
        <!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="produkDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Produk
          </a>
          <ul class="dropdown-menu shadow border-0 mt-2"
            aria-labelledby="produkDropdown">
            <li>
              <a class="dropdown-item" href="water-purifier.html">
                Water Purifier
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="air-purifier.html">
                Air Purifier
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="paket-combo.html">
                Paket Combo
              </a>
            </li>
          </ul>
        </li>
        -->

        <li class="nav-item">
          <a class="nav-link" href="index.html#testimoni">Testimoni</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="heartservice.html">Service</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="blog.html">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="index.html#fyinfo">Info</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
